@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Cairo", serif;
  font-weight: 400;
  // view-transition-name: none;
}

body {
  font-size: 16px;
}

@media (max-width: 768px) {
  h1 {
    text-align: center;
  }
}
